.card {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 80px auto;
    margin-top: 40px;
    margin-right: 410px;
    width: 550px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-top: 25px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form-group select {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form-group textarea {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    resize: vertical; /* Allow vertical resizing */
    min-height: 100px; /* Set minimum height */
    max-height: 200px; /* Set maximum height to limit growth */
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 500px;
    margin-top: 10px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

